.logo{
    width:45px;
    height:45px;
}
.navbar{
    margin:10px;
    display:flex;
    justify-content : space-between;
}
.left-nav{
    display: flex;
    justify-content: start;
    gap:15px;
    align-items:center; /* for heading (lawengage to be at the center of the logo)*/
}
.mid-nav{
    margin-top:6px;
}
.right-nav{
    margin-top:6px;
} 
.heading{
    font-size: 1.4rem; 
    font-weight: normal;
}

