.parent-div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.inner-div{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 650px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin:20px;
}

